
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HIPPO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>HIPPO</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            Max Winokan<br>
            XChem @ Diamond Light Source<br>
            <a href="mailto:max.winokan@diamond.ac.uk">max.winokan@diamond.ac.uk</a>
        </p>
    </footer>
</body>
</html>
