
{% extends 'base.html' %}

{% block title %}HIPPO Index{% endblock %}

{% block content %}

<div class="card">

    <h2 class="center">Model Statistics</h2>

    <table>
        <thead>
            <tr>
                <th>Model Name</th>
                <th>Record Count</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in model_stats %}
                <tr>
                    <td>{{ stat.model_name }}</td>
                    <td>{{ stat.model_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
