
{% extends 'base.html' %}

{% block title %}HIPPO Index{% endblock %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="card">

    <a href="{% url 'fragalysis_download' %}" class="btn">Fragalysis Download</a>
    <a href="{% url 'sdf_upload' %}" class="btn">SDF Upload</a>
    <a href="{% url 'score_upload' %}" class="btn">Score Upload</a>
    <a href="/admin" class="btn">Database Admin</a>

</div>
{% endif %}

<div class="card">

    <h2 class="center">Targets</h2>

    <table>

        <tr>
            <th>Target</th>
            <th>Structures</th>
            <th>Poses</th>
        </tr>

        {% for target in targets %}
        
        <tr>
            <td>
                <a href="{% url 'target_detail' target.pk %}">{{ target.model_pill_html|default:target|safe }}</a>
            </td>

            <td>{{target.structures.count}}</td>
            <td>{{target.poses.count}}</td>
        </tr>

        {% endfor %}

    </table>

</div>

<div class="card">

    <h2 class="center">Database Statistics</h2>

    <table>
        <thead>
            <tr>
                <th>Model Name</th>
                <th class="right">Record Count</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in model_stats %}
                <tr>
                    <td>
                        <a href="{% url stat.model_name.lower|add:'_list' %}">
                            {{ stat.model.class_pill_html|default:stat.model|safe }}
                        </a>
                    </td>
                    
                    <td class="right">{{ stat.model_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
