
{% extends 'base.html' %}

{% block title %}HIPPO Index{% endblock %}

{% block content %}

<div class="card">

    <h2 class="center">Database Statistics</h2>

    <table>
        <thead>
            <tr>
                <th>Model Name</th>
                <th class="right">Record Count</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in model_stats %}
                <tr>
                    <td>
                        <a href="{% url stat.model_name.lower|add:'_list' %}">
                            {{ stat.model.class_pill_html|default:stat.model|safe }}
                        </a>
                    </td>
                    
                    <td class="right">{{ stat.model_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
