{% extends "base.html" %}

{% load custom_tags %}

{% block title %}{{object}}{% endblock %}

{% block content %}

{% block pretablecard %}{% endblock %}

<div class="card">

    <h2 class="center">{{ object.model_pill_html|default:object|safe }}</h2>
    
    {% block pretable %}{% endblock %}

    <br>

    <table class="responsive-text">
        <tbody>

            <!-- TABLE OF FIELDS -->

            {% for field_name, value, render_dict in fields %}

                {% if render_dict.type == "FieldRenderType.TABLE" %}
                    <tr>
                        <td style="font-weight:bold;">{{ field_name.capitalize }}</td>

                    {% if render_dict.content == "ContentRenderType.TEXT_NORMAL" %}

                        <td>{{ value }}</td>

                    {% elif render_dict.content == "ContentRenderType.TEXT_DISPLAY" %}

                        <td><span class="monospace">{{ value }}</span></td>
                    
                    {% elif render_dict.content == "ContentRenderType.TEXT_MONOSPACE" %}

                        <td>
                            <span id="{{ field_name |add:'_text' }}" class="monospace">{{ value }}</span>
                            {% if render_dict.copyable %}
                                <button class="btn" onclick="copyToClipboard('{{ field_name |add:'_text' }}')"><i class="fa fa-copy" style="cursor:copy;"></i></button>
                            {% endif %}
                        </td>

                    {% elif render_dict.content == "ContentRenderType.LINK" %}

                        <td>
                            <a href="{{value}}">{{ value }}</a>
                        </td>
                    
                    {% elif render_dict.content == "ContentRenderType.INSTANCE_PILL" %}

                        <td><a href="{{ value.get_absolute_url }}">{{ value.model_pill_html|default:value|safe }}</a></td>

                    {% elif render_dict.content == "ContentRenderType.MOL_2D_SVG" %}

                        <td>
                            <div class="svg-container">
                                {{ object.get_mol_svg_text|safe }}                                
                            </div>
                        </td>

                    {% else %}

                        <td>UNSUPPORTED CONTENT TYPE {{render_dict.content}}</td>

                    {% endif %}

                    </tr>

                {% endif %}

            {% endfor %}
        </tbody>
    </table>

    {% block posttable %}{% endblock %}

</div>
    
<!-- CARDS/TOGGLES -->

{% block precards %}{% endblock %}

<div class="card">
    
    <table>

        <h2 class="title">Tags</h2>
        
        <tr>
            <th>Tag</th>
            <th>Type</th>
            <th>Origin</th>
        
        {% for tag in object.tags.all %}
        
        <tr>
            <td><a href="{% url 'tag_detail' tag.tag.pk %}">{{ tag.tag.model_pill_html|safe }}</a></td>
            <!-- <td><span class="monospace">{{ tag.tag.name }}</span></td> -->
            <td><span class="monospace">{{ tag.tag.type.name }}</span></td>
            <td><span class="monospace">{{ tag.tag.type.origin }}</span></td>
        </tr>
        
        {% endfor %}

    </table>

</div>

{% for field_name, values, render_dict in fields %}

    <!-- CARD -->

    {% if render_dict.type|endswith:"CARD" %}
        
    <div class="card">
        
        {% if render_dict.type|startswith:"FieldRenderType.TOGGLE" %}

            <div class="h2-checkbox-container">
                <h2 class="title">{{ field_name }} ({{ values|length }})</h2>
                <label class="switch">
                    <input type="checkbox" id="{{ field_name }}_toggle_checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div id="{{ field_name }}_toggle_div" style="display:none;">

        {% else %}

            <h2>{{ field_name }} ({{ values|length }})</h2>

        {% endif %}

        {% if render_dict.content == "ContentRenderType.TEXT_MONOSPACE" %}

            <p class="monospace">

        {% endif %}
        
        {% for member in values %}

            {% if render_dict.content == "ContentRenderType.INSTANCE_PILL" %}
            
                <a href="{{ member.get_absolute_url }}">{{ member.model_pill_html|default:member|safe }}</a>

            {% elif render_dict.content == "ContentRenderType.DICT_TABLE" %}

                <table class="bordered">

                {% for key,value in values.items %}

                    <tr>
                        <th>key</th>
                        <td>value</td>
                    </tr>

                {% endfor %}

                </table>

            {% elif render_dict.content|startswith:"ContentRenderType.TEXT" %}
            
                {{member}}<br>

            {% else %}

                <p>UNSUPPORTED CONTENT TYPE {{ field_name }} {{render_dict.content}}</p>

            {% endif %}
        
        {% endfor %}

        {% if render_dict.content == "ContentRenderType.TEXT_MONOSPACE" %}

            </p>

        {% endif %}
        
        {% if render_dict.type|startswith:"FieldRenderType.TOGGLE" %}

            <script type="text/javascript">
                document.getElementById('{{ field_name }}_toggle_checkbox').addEventListener('change', function() {
                    const toggleDiv = document.getElementById('{{ field_name }}_toggle_div');
                    if (this.checked) {
                        toggleDiv.style.display = 'block'; // Show the div
                    } else {
                        toggleDiv.style.display = 'none'; // Hide the div
                    }
                });
            </script>

            </div>

        {% endif %}

        
    </div>

    {% elif render_dict.type|endswith:"TOGGLE_CARD_SINGLE" %}

    <div class="card">
            
        <div class="h2-checkbox-container">
                <h2 class="title">{{ field_name }}</h2>
                <label class="switch">
                    <input type="checkbox" id="{{ field_name }}_toggle_checkbox">
                    <span class="slider round"></span>
                </label>
            </div>

            <div id="{{ field_name }}_toggle_div" style="display:none;">

                <p>{{values}}</p>

            </div>

            <script type="text/javascript">
                document.getElementById('{{ field_name }}_toggle_checkbox').addEventListener('change', function() {
                    const toggleDiv = document.getElementById('{{ field_name }}_toggle_div');
                    if (this.checked) {
                        toggleDiv.style.display = 'block'; // Show the div
                    } else {
                        toggleDiv.style.display = 'none'; // Hide the div
                    }
                });
            </script>

    </div>

    {% endif %}

{% endfor %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelectorAll('input[type="checkbox"]').forEach(checkbox => {
            checkbox.checked = false;
        });
    });
</script>

{% if object.has_list_view %}
<button class="btn"><a href="{% url model_name|add:'_list' %}">Back to List</a></button>
{% endif %}
<button class="btn"><a href="{{ object.get_admin_url }}">Edit</a></button>

{% endblock %}
