{% extends "base.html" %}

{% load custom_tags %}

{% block content %}

<script src="https://3Dmol.org/build/3Dmol-min.js"></script>     
<script src="https://3Dmol.org/build/3Dmol.ui-min.js"></script>     
 
<div class="card">

    <h2 class="center">Pose Comparison</h2>

    <div class="center" style="padding-bottom:1rem;">
        {% for pose in poses %}
            
            <a href="{% url 'pose_detail' pose.pk %}"><div class="model-pill" style="background:{{ colors|index_by:forloop.counter0 }};color:white;">{{ pose }}</div></a>

        {% endfor %}
    </div>

    <div class="monospace" style="padding:0;">
        <div id="viewer" style="width: 100%; height: 400px; position: relative;"></div>
    </div>

    {{ pose_ids|json_script:"poseIds" }}
    
   <script>
        document.addEventListener("DOMContentLoaded", function loadPoseComparison() {
            var poseIds = JSON.parse(document.getElementById('poseIds').textContent);

            fetch(`/pose_compare_3d/${poseIds}/`)
            .then(response => response.text())
            .then(data => {
                // Insert the fetched HTML content
                document.getElementById("viewer").innerHTML = data;

                // Find all script tags in the fetched content and execute them
                const scripts = document.querySelectorAll("#viewer script");
                scripts.forEach(script => {
                    const newScript = document.createElement("script");
                    newScript.text = script.textContent;
                    document.head.appendChild(newScript); // Execute the script by appending it to the head or body
                    script.remove(); // Optionally remove the script tag from the DOM to clean up
                });
            })
            .catch(error => console.error("Error loading content:", error));
        });
    </script>

    <br>

    <h2>MoCASSIn Score</h2>

    <table>
        <tbody>
            <tr>
                <td>References</td>
                <td>
                    {% for pose in poses %}
                        {% if forloop.counter0 != last_index %}
                            {{ pose }}
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Query</td>
                <td>{{ poses|index_by:last_index }} </td>
            </tr>

            <tr>
                <td>Combined</td>
                <td>{{ mocassin.combined|mul:100|floatformat:2 }}%</td>
            </tr>
            <tr>
                <td>Shape</td>
                <td>{{ mocassin.shape|mul:100|floatformat:2 }}%</td>
            </tr>
            <tr>
                <td>Feature</td>
                <td>{{ mocassin.feature|mul:100|floatformat:2 }}%</td>
            </tr>
        </tbody>
    </table>

<button class="btn"><a href="{% url 'pose_list' %}">Back to List</a></button>

{% endblock %}
