:root {
        --color-primary: hsl(206 68.7% 67.5%); /* light blue */
        --color-secondary: hsl(207 49.5% 42.7%); /* dark steel blue */
        --color-tertiary: hsl(207, 20%, 10%); /* mud */
        --color-accent: hsl(36 81.8% 49.6%); /* orange */
        --color-accent2: hsl(44 81.8% 49.6%); /* orange */
        --color-accent3: hsl(27 81.8% 49.6%); /* orange */
        --color-white: hsl(0, 0%, 100%); /* white */
/*        --color-tertiary: hsl(44, 20%, 40%); /* mud */
        
        --color-white-overlay: hsla(0, 0%, 100%, 20%); /* light blue */
        --color-primary-overlay: hsla(207, 50%, 90%, 20%); /* light blue */
        --color-secondary-overlay: hsla(207, 20%, 40%, 20%); /* light blue */

        --color-status-good: hsl(103 100% 35%);
        --color-status-medium: hsl(34 100% 35%);
        --color-status-bad: hsl(360 100% 35%);
        --color-status-neutral: hsl(103 0% 35%);

        --text-color-status-good: var(--color-tertiary);
        --text-color-status-medium: white;
        --text-color-status-bad: white;
        --text-color-status-neutral: white;

        /* color by module */
        --color-protein: hsl(11 100% 26%);
        --text-color-protein: hsl(11 100% 90%);

        --color-compound: hsl(42 100% 39%);
        --text-color-compound: hsl(42 100% 90%);
        
        --color-pose: hsl(209 100% 39%);
        --text-color-pose: hsl(209 100% 90%);

        --color-placement: hsl(180 90% 45%);
        --text-color-placement: hsl(180 90% 100%);

        --color-quoting: hsl(153 100% 25%);
        --text-color-quoting: hsl(153 100% 90%);

        --color-annotation: hsl(335 100% 39%);
        --text-color-annotation: hsl(335 100% 95%);

        --color-interactions: hsl(71 100% 39%);
        --text-color-interactions: hsl(71 100% 90%);

        --color-chemistry: hsl(132 100% 39%);
        --text-color-chemistry: hsl(132 100% 90%);

        --color-resources: hsl(132 0% 39%);
        --text-color-resources: hsl(132 0% 90%);

        --color-other: hsl(132 0% 5%);
        --text-color-other: hsl(132 0% 90%);

        --color-projects: hsl(290 100% 39%);
        --text-color-projects: hsl(290 100% 90%);

        --color-tag: hsl(2 53% 60%);
        --text-color-tag: hsl(2 100% 100%);

        --color-tagtype: hsl(2 53% 50%);
        --text-color-tagtype: hsl(2 100% 100%);

        --color-poseset: hsl(209 100% 18%);
        --text-color-poseset: hsl(209 100% 90%);

}

body {
    background: var(--color-primary);
    color: var(--color-tertiary);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-size: 100%;
}

header {
/*    padding: 1rem;*/
    text-align: center;
}

main {
    padding-top: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-botoom: 2rem;
}

@media screen and (min-width: 601px) {
    .card {
        margin: 1rem;
        background-color: var(--color-white-overlay);
        border-radius: 32px;
    /*    background-color: var(--color-accent);*/
    /*    opacity: 10%;*/
        padding: 1rem 1rem;
    /*    padding: 2rem;*/
    }
}

@media screen and (max-width: 600px) {
    .card {
/*        margin: 3rem;*/
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        background-color: var(--color-white-overlay);
        border-radius: 32px;
    /*    background-color: var(--color-accent);*/
    /*    opacity: 10%;*/
        padding: 1rem 1rem;
    /*    padding: 2rem;*/
    }
}

.center {
    text-align: center;
}

footer {
/*    background: var(--color-tertiary);*/
/*    color: var(--color-primary);*/
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

table {
    border-collapse:collapse;
    border-spacing:0;
    border:none;
/*    padding:none;*/
/*    margin:none;*/
    width:100%;
    display:table;
}

.right {
    text-align: right;
}

.span-pill {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 32px;
}

/*button {
    color: var(--color-white);
    border: none;
    background-color: var(--color-white-overlay);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 32px;
    font-size: 100%;
    margin: 1rem;
    cursor: pointer;
}*/

.btn {
    color: var(--color-white);
    border: none;
    background-color: var(--color-white-overlay);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 32px;
    font-size: 100%;
/*    margin: 1rem;*/
    cursor: pointer;
}

/*a {
    color: var(--color-secondary);
}*/

.model-pill {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 32px;
    display:inline-block;
    margin:4px;
}

.monospace {
    font-family: "Monaco", "Lucida Console", "Courier New", monospace;
    background-color: var(--color-white-overlay);
    color: var(--color-tertiary);
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid;
    font-size:90%;
}
/*
table.bordered {
    border-radius: 4px;
    border: 1px solid;
    background-color: var(--color-tertiary);
}*/

@media screen and (min-width: 601px) {
th, td {
    padding:4px 32px;
    display:table-cell;
    text-align:left;
    vertical-align:middle;
    background: none;
}}

@media screen and (max-width: 600px) {
th, td {
    padding:0px 4px;
    display:table-cell;
    text-align:left;
    vertical-align:middle;
    background: none;
}}

tr {
    width: 100%;
    border-radius: 10px !important;
    vertical-align:middle;
}

tr:hover {
    background-color:var(--color-accent);
/*    transition: background-color 0.3s ease;*/
    border-radius: 32px;
}

table tr:hover th:first-child, td:first-child{
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
table tr:hover th:last-child, td:last-child {
    border-top-right-radius: 32px;
    border-bottom-right-radius: 32px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-white);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--color-accent);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 24px;
}

.slider.round:before {
  border-radius: 50%;
}

.h2-checkbox-container {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px; /* Add space between the heading and the checkbox */
}

.title {
    margin-left: 2rem;
/*    margin: 0; /* Remove default margins to avoid spacing issues */
}

h2,h3,h4,h5,h6 {
    margin: 0;
}

.checkbox {
    transform: scale(1); /* Adjust size if necessary */
}

@media screen and (min-width: 601px) { .responsive-text { font-size: 16px;  } }
@media screen and (max-width: 600px) { .responsive-text { font-size: 12px;  } }
@media screen and (max-width: 600px) { .hide-if-narrow { display: none !important; } }

/*.mol-svg {
    width:100%;
    max-width: 400px;
}*/

.svg-container {
  width: 100%;
  max-width: 300px;
}

/*svg {
  width: 100%;
  height: auto;
  max-width: 300px;
}*/
