# =========================================================
# DATABASE CONFIGURATION
# =========================================================
DB_NAME=CHANGE_ME
DB_USER=CHANGE_ME
DB_PASSWORD=CHANGE_ME

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_INITDB_ARGS=--auth-host=scram-sha-256 --auth-local=trust
PGDATA=/var/lib/postgresql/data
POSTGRES_HOST_AUTH_METHOD=scram-sha-256

# Volume path for persistent data
POSTGRES_DATA_PATH=CHANGE_ME

# Build versions (RDKit / Postgres versions)
RDKIT_VERSION=Release_2025_09_5
BOOST_VERSION=1.90.0
BOOST_VER_US=1_90_0
PG_MAJOR=18
PG_BASE=postgres:18.2-bookworm
